.table {
    border-collapse: collapse;
    width: 100%;
    width: calc(100% - 110px); /* Definindo a largura máxima */
    margin-left: 100px; /* Para compensar a margem esquerda */
    bottom: 0;
    overflow-x: auto; /* Adicionando rolagem horizontal quando necessário */
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
}