<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cardActions.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body >
    
    
  <div class="containerCards">
    <div class="cardActions">

        <div>

          <table>
            <thead>
                <tr class="transp">
                  <th colspan="2">
                    <div class="title">
                      <h3>Valor de mercado</h3>
                    </div>
                  </th>
                </tr>
            </thead>
                <tbody>
                <tr class="info-action">
                  <td class="action"><a href="">HCTR11</a></td>
                  <td class="value-action" style="color: red;">-0,16 (0,50%)↓</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">DEVA11</a></td>
                  <td class="value-action" style="color: red;">-0,25 (0,53%)↓</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">ARCT11</a></td>
                  <td class="value-action" style="color: green;">+0,88</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">SARE11</a></td>
                  <td class="value-action" style="color: green;">+0,30</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">BBPO11</a></td>
                  <td class="value-action" style="color: green;">+0,37</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">XPCI11</a></td>
                  <td class="value-action" style="color: green;">+0,63</td>
                </tr>
               
              </tbody>
          </table>

          
          <!--########## - Acoes Populares - ##########-->
          
            <table>
              <thead>
                  <tr class="transp">
                      <th colspan="2">
                        <div class="title">
                          <h3>Ações Populares</h3>
                        </div>
                      </th>
                    </thead>
                  <tbody>
                  {% for nome, valor in pares %}
                  <tr class="info-action">
                    <td class="action"><a href="/exibirdetalhesacao/{{nome}}" target="_blank">{{nome}}</a></td>
                    <td class="value-action">{{valor}}</td><!--SUBSTITUIR PELO NOME COMPLETO DA ACAO E TROCAR PELAS ACOES POPULARES-->
                  </tr>
                  {% endfor %}
                </tbody>
            </table>

          

          
        </div>

        <div>
          <table>
            <thead>
                <tr class="transp">
                    <th colspan="2">
                      <div class="title">
                        <h3>Pagadora de dividendos</h2>
                      </div>
                    </th>
                  </thead>
                <tbody>
                  <tr class="info-action">
                    <td class="action"><a href="">HCTR11</a></td>
                    <td class="value-action" style="color: red;">-0,16 (0,50%)↓</td>
                  </tr>
                  <tr class="info-action">
                    <td class="action"><a href="">DEVA11</a></td>
                    <td class="value-action" style="color: red;">-0,25 (0,53%)↓</td>
                  </tr>
                  <tr class="info-action">
                    <td class="action"><a href="">ARCT11</a></td>
                    <td class="value-action" style="color: green;">+0,88</td>
                  </tr>
                  <tr class="info-action">
                    <td class="action"><a href="">SARE11</a></td>
                    <td class="value-action" style="color: green;">+0,30</td>
                  </tr>
                  <tr class="info-action">
                    <td class="action"><a href="">BBPO11</a></td>
                    <td class="value-action" style="color: green;">+0,37</td>
                  </tr>
                  <tr class="info-action">
                    <td class="action"><a href="">XPCI11</a></td>
                    <td class="value-action" style="color: green;">+0,63</td>
                  </tr>
              </tbody>
          </table>
          <!--########## - FIIS - ##########-->
          <table>
            <thead>
                <tr class="transp">
                    <th colspan="2">
                      <div class="title">
                        <h3>Menor relação preço/lucro</h2>
                      </div>
                    </th>
                  </thead>
                <tbody>
                  <tr class="info-action">
                    <td class="action"><a href="">HCTR11</a></td>
                    <td class="value-action" style="color: red;">-0,16 (0,50%)↓</td>
                  </tr>
                  <tr class="info-action">
                    <td class="action"><a href="">DEVA11</a></td>
                    <td class="value-action" style="color: red;">-0,25 (0,53%)↓</td>
                  </tr>
                  <tr class="info-action">
                    <td class="action"><a href="">ARCT11</a></td>
                    <td class="value-action" style="color: green;">+0,88</td>
                  </tr>
                  <tr class="info-action">
                    <td class="action"><a href="">SARE11</a></td>
                    <td class="value-action" style="color: green;">+0,30</td>
                  </tr>
                  <tr class="info-action">
                    <td class="action"><a href="">BBPO11</a></td>
                    <td class="value-action" style="color: green;">+0,37</td>
                  </tr>
                  <tr class="info-action">
                    <td class="action"><a href="">XPCI11</a></td>
                    <td class="value-action" style="color: green;">+0,63</td>
                  </tr>
              </tbody>
          </table>
        </div>
    </div>
    </div>


</body>
</html>
