<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cardActions.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body >
    
    
  <div class="containerCards">
    <div class="cardActions">

        <div>
          <!--########## - Acoes Populares - ##########-->
          
            <table>
              <thead>
                  <tr class="transp">
                      <th colspan="2">
                        <div class="title">
                          <h3>Ações Populares</h2>
                        </div>
                      </th>
                    </thead>
                  <tbody>
                  {% for nome, valor in pares %}
                    <tr class="info-action">
                      <td class="action"><a href="">{{nome}}</a></td>
                      <td class="name-action">{{valor}}</td><!--SUBSTITUIR PELO NOME COMPLETO DA ACAO E TROCAR PELAS ACOES POPULARES-->
                    </tr>
                  {% endfor %}
                </tbody>
            </table>

          
          <!--########## - Fundos imobiliarios - ##########-->
          <table>
            <thead>
                <tr class="transp">
                  <th colspan="2">
                    <div class="title">
                      <h3>Fundos imobiliarios</h2>
                    </div>
                  </th>
                </tr>
            </thead>
                <tbody>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
               
              </tbody>
          </table>
        </div>

        <div>
          <!--########## - Internacionais - ##########-->
          <table>
            <thead>
                <tr class="transp">
                    <th colspan="2">
                      <div class="title">
                        <h3>Internacionais</h2>
                      </div>
                    </th>
                  </thead>
                <tbody>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                
              </tbody>
          </table>
          <!--########## - FIIS - ##########-->
          <table>
            <thead>
                <tr class="transp">
                    <th colspan="2">
                      <div class="title">
                        <h3>FIIS</h2>
                      </div>
                    </th>
                  </thead>
                <tbody>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                <tr class="info-action">
                  <td class="action"><a href="">====</a></td>
                  <td class="name-action">==========</td>
                </tr>
                
              </tbody>
          </table>
        </div>
    </div>
    </div>


</body>
</html>
