<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cardActions.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body >
    
    
  <div class="container">
    
    <div class="cardActions">

        <!--########## - Acoes Populares - ##########-->

        <table>
            <thead>
              <div>
                <h3 colspan="2">Ações Populares</h2>
              </div>
            </thead>
            <tbody>
              <tr class="info-action">
                <td class="action"><a href="">BBAS3</a></td>
                <td class="name-action">Banco do Brasil</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">VAL3</a></td>
                <td class="name-action">Vale</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">PETR</a></td>
                <td class="name-action">Petrobras</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">ITSA</a></td>
                <td class="name-action">Itausa</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">BBDC</a></td>
                <td class="name-action">Bradesco</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">BBAS3</a></td>
                <td class="name-action">Banco do Brasil</td>
              </tr>
            </tbody>
        </table>

        <!--########## - Fundos imobiliarios - ##########-->

        <table>
            <thead>
              <div>
                <h3 colspan="2">Fundos imobiliarios</h2>
              </div>
            </thead>
            <tbody>
              <tr class="info-action">
                <td class="action"><a href="">BBAS3</a></td>
                <td class="name-action">Banco do Brasil</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">VAL3</a></td>
                <td class="name-action">Vale</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">PETR</a></td>
                <td class="name-action">Petrobras</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">ITSA</a></td>
                <td class="name-action">Itausa</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">BBDC</a></td>
                <td class="name-action">Bradesco</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">BBAS3</a></td>
                <td class="name-action">Banco do Brasil</td>
              </tr>
            </tbody>
        </table>

        <!--########## - Internacionais - ##########-->

        <table>
            <thead>
              <div>
                <h3 colspan="2">Internacionais</h2>
              </div>
            </thead>
            <tbody>
              <tr class="info-action">
                <td class="action"><a href="">BBAS3</a></td>
                <td class="name-action">Banco do Brasil</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">VAL3</a></td>
                <td class="name-action">Vale</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">PETR</a></td>
                <td class="name-action">Petrobras</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">ITSA</a></td>
                <td class="name-action">Itausa</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">BBDC</a></td>
                <td class="name-action">Bradesco</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">BBAS3</a></td>
                <td class="name-action">Banco do Brasil</td>
              </tr>
            </tbody>
        </table>

        <!--########## - FIIS - ##########-->

        <table>
            <thead>
              <div>
                <h3 colspan="2">FIIS</h2>
              </div>
            </thead>
            <tbody>
              <tr class="info-action">
                <td class="action"><a href="">BBAS3</a></td>
                <td class="name-action">Banco do Brasil</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">VAL3</a></td>
                <td class="name-action">Vale</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">PETR</a></td>
                <td class="name-action">Petrobras</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">ITSA</a></td>
                <td class="name-action">Itausa</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">BBDC</a></td>
                <td class="name-action">Bradesco</td>
              </tr>
              <tr class="info-action">
                <td class="action"><a href="">BBAS3</a></td>
                <td class="name-action">Banco do Brasil</td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
