<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gráfico de Correlação IPCA Selic </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <H1>Correlação Das Ações com os Indicadores Macroeconômicos</H1>
    <h2>Descrição</h2>
    <div style="display: flex">
        <form action="/correlacaoindicadores" method="post">
            <button type="submit" >Minhas Ações</button>
        </form>
        <form action="/correlacaoindicadores" method="get">
            <button type="submit" >Todas as Ações</button>
        </form>
        <form action="/atualizarcorrelacaoindicadores" method="get">
            <button type="submit" >Atualizar</button>
        </form>
    </div>

    {{ plot|safe }}

</body>
</html>
