<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <title>DataFinance</title>
</head>
<body>
            
    <nav>
        <div class="logo">
            <a href="/" class="logo">
                <img src="../static/Imagens/logo.png" alt="">
            </a>
        </div>
        <div class="links"></div>
        <ul class="nav-itens">
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
            <li><a href="">Link</a></li>
        </ul>
        <div class="buttons">
            <a href="login"><button class="login" >Login</button></a>
            <a href="registro"><button class="registro">Registrar-se</button></a>
            <button  class="logout">
                <a href="login">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </button>
        </div>
        
      </nav>
      <div class="main-content">
        <section class="carousel">
            {% include "Carousel.html" %}
        </section>
    </div>

          <div id="sidebar">
            <ul>
                  <li><a href="">
                      <i class="fas fa-home"></i>
                      <span class="nav-item">Home</span>
                  </a></li>
                  <li><a href="">
                      <i class="fas fa-user"></i>
                      <span class="nav-item">Profile</span>
                  </a></li>
                  <li><a href="">
                      <i class="fas fa-id-card"></i>
                      <span class="nav-item">Wallet</span>
                  </a></li>
                  <li><a href="">
                      <i class="fas fa-user" style="color: red;"></i>
                      <span class="nav-item">Dashboard</span>
                  </a></li>
                  <li><a href="">
                      <i class="fas fa-tasks"></i>
                      <span class="nav-item">Task</span>
                  </a></li>
                  <li><a href="">
                      <i class="fas fa-cog"></i>
                      <span class="nav-item">Settings</span>
                  </a></li>
                  
              </ul>
     
        </div>

        <section>
            {% include "table.html" %}
        </section>
</body>
</html>