<!DOCTYPE html>

<html lang="pt-BR" dir="ltr">

<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


	<header class="header" id="header">
		<nav class="nav container">
			<a href="/verificarlogin" class="nav-logo">HOME</a>

			<div class="nav-menu" id="nav-menu">
				<ul class="nav-list">
					<li class="nav-item dropdown">
						<a href="#" class="nav-link" onclick="op1()">FIIS</a>
					</li>

					<li class="nav-item">
						<a href="#" class="nav-link" onclick="op2()">Ações</a>
						<!--<a href="/correlacaoindicadores" class="nav-link">Correlation indicators</a>--><!--criar dropdown(dividentos)-->
					</li>

					<li class="nav-item">
						<a href="#" class="nav-link" onclick="op3()">Fundos</a>
					</li>

					<li class="nav-item">
						<a href="#" class="nav-link" onclick="op4()">Dividendos</a>
					</li>
				</ul>

				<div class="nav-close" id="nav-close">
					<i class="ri-close-line"></i>
				</div>
			</div>

			<div class="nav-actions">

				<i class="ri-search-line nav-search" id="search-btn"></i>
				<span class="nav-login" id="login-btn"><a href="/login">ENTER</a></span>
				<!--clica na palavra enter redireciona pra pagina login, clica apenas no background abre o menu de login-->



				<div class="nav-toggle" id="nav-toggle">
					<i class="ri-menu-line"></i>
				</div>
			</div>
		</nav>
	</header>

	<!--==================== SEARCH ====================-->
	<div class="search" id="search">
		<form action="" class="search-form">
			<i class="ri-search-line search-icon"></i>
			<input type="search" placeholder="What are you looking for?" class="search-input">
		</form>

		<i class="ri-close-line search-close" id="search-close"></i>
	</div>

	<!--==================== LOGIN ====================-->
	<div class="login" id="login">
		<form action="" class="login-form">
			<h2 class="login-title">Log In</h2>

			<div class="login-group">
				<div>
					<label for="email" class="login-label">Email</label>
					<input type="email" placeholder="Write your email" id="email" class="login-input">
				</div>

				<div>
					<label for="password" class="login-label">Password</label>
					<input type="password" placeholder="Enter your password" id="password" class="login-input">
				</div>
			</div>

			<div>
				<p class="login-signup">
					You do not have an account? <a href="cadastro">Sign up</a>
				</p>

				<a href="#" class="login-forgot">
					You forgot your password
				</a>

				<button type="submit" class="login-button">Log In</button>
			</div>
		</form>

		<i class="ri-close-line login-close" id="login-close"></i>
	</div>

	<!--==================== MAIN ====================-->
	<div class="container-datas">
		<main id="okok" class="main">
			<iframe id="iframeCarousel" name="carousel" src="{{url_for('gerariframeprincipal')}}"></iframe>
			<iframe id="iframeCard" name="card" src="{{url_for('gerariframecard')}}"></iframe>
		</main>
	</div>

	<footer>
		<section class="footer">
			<div class="social">
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-snapchat"></i></a>
				<a href="#"><i class="fab fa-twitter"></i></a>
				<a href="#"><i class="fab fa-facebook-f"></i></a>
			</div>
			<ul class="list">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Services</a>
				</li>
				<li>
					<a href="#">About</a>
				</li>
				<li>
					<a href="#">Terms</a>
				</li>
				<li>
					<a href="#">Privacy Policy</a>
				</li>
			</ul>
			<p class="copyright">
				TCC @ 2024
			</p>
		</section>
	</footer>


	<script src="../static/js/home.js"></script>

	<script>
		function op1() {
			document.getElementById('iframeTarget').src = "{{url_for('atualizarcorrelacaoallindicadores')}}";
		}
		function op2() {
			document.getElementById('iframeTarget').src = "{{url_for('gerarminhacarteira')}}";
		}
		function op3() {
			document.getElementById('iframeTarget').src = "{{url_for('correlacaotickerindicador')}}";
		}
		function op4() {
			document.getElementById('iframeTarget').src = "{{url_for('gerarminhacarteira')}}";
		}
		function op5() {
			document.getElementById('iframeTarget').src = "{{url_for('gerarminhacarteira')}}";
		}
	</script>


</body>



</html>