<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sign up / Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
	<div class="main">
				<h1>TESTE</h1>
		<br>
		<p><a href="/calcularRiscoRetorno/all" target="teste">Calcular risco retorno</a></p>
		<p><a href="/correlacaoindividual" target="teste">Gerar Correlação da Ação com indicadores</a></p>
		<p><a href="/correlacaoindicadores" target="teste">Gerar Correlação de Todas as ações com indicadores</a></p>
		<p><a href="/gerarminhacarteira" target="teste">Exibir carteira de ações do usuário</a></p>
		<p><a href="/rankingdividendos/all" target="teste">Gerar ranking de dividendos últimos 15 anos</a></p>
	</div>


	<div>
		<!--<iframe name="teste" src="{{url_for('gerarrankingdividendos', opcao='all')}}" width="900" height="600"></iframe>-->
		<iframe name="teste" src="{{url_for('gerarminhacarteira')}}" width="900" height="600"></iframe>
	</div>

</body>
</html>
