<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sign up / Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
	<div class="main">
		<h1>TESTE</h1>
		<br>
		<p><a href="/calcularRiscoRetorno/all">Calcular risco retorno</a></p>
		<p><a href="/correlacaoindividual">Gerar Correlação da Ação com indicadores</a></p>
		<p><a href="/correlacaoindicadores">Gerar Correlação de Todas as ações com indicadores</a></p>
	</div>
</body>
</html>
