<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/logado.css') }}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <span class="logo_name"><a href="/">User</a></span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#" onclick="op1()">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Risk Return</span>
        </a>
      </li>
      <li>
          <a href="#" onclick="op2()">
            <i class='bx bx-grid-alt' ></i>
            <span class="link_name">data 2</span>
      </li>
      <li>
        <a href="#" onclick="op3()">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">data 3</span>
        </a>
      </li>
      <li>
        <a href="#" onclick="op4()">
          <i class='bx bx-grid-alt'></i>
          <span class="link_name">data 4</span>
        </a>
      </li>
      <li>
        <a href="#" onclick="op5()">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">data 5</span>
        </a>
      </li>
      <li>
        <div class="profile-details">
          <div class="profile-content">
            <!--<img src="image/profile.jpg" alt="profileImg">-->
          </div>
          <a href="/login">
            <div class="name-job">
              <div class="profile_name">Exit</div>
              <i class='bx bx-log-out'></i>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <section class="home-section"><!--====== navbar ======-->
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text"></span>
      {% include "seach.html" %}
      <div class="profile">
        <img class="photo-profile" src="../static/Imagens/perfil.jpg" alt="perfil">
        <!--<i class="fa-solid fa-caret-down"></i>-->
      </div>
    </div>
    <div class="data">
      <div class="data">
        {% include "data.html" %}
      </div>
    </div>
  </section>
  
  <div id="submenu" class="submenu">
    <div class="card-container">
      <div class="card-img">
        <img class="round" src="../static/Imagens/perfil.jpg" width="100%">
      </div>
      <h3>nathan</h3>
      <h6>paraiba</h6>
      <p>investor <br> wallet</p>
      <div class="buttons">
        <button class="btn1">importar</button><!--CASO ELE JA TENHA IMPORTADO UMA CARTEIRA ELE PODE IMPORTAR OUTRA E SUBISTITUIR A ANTIGA-->
        <button  id="wallet" class="btn2" onclick="opWallet()">carteira</button><!--CASO JA TENHA IMPORTAR ELE MOSTRA A CARTEIRA, CASO NAO ELE EMITE UM ALERTA PARA IMPORTAR-->
      </div>
    </div>
  </div>

    <script src="../static/js/logado.js"></script>
    <script>
      function opWallet() {
      document.getElementById('wallet').src = "{{url_for('gerarminhacarteira')}}";
      }
    </script>

</body>
</html>
