<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->  
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/home.css">
        <title>datafinance</title>
    </head>
    <body>
        <!-- Just an image -->
        <nav class="navbar custom-navbar">
            
                <ul class="menuItem list-inline">
                
                    <li id="op1" class=" list-inline-item nav-item dropdown">
                        
                        <a class="dropdown text-decoration-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" >
                            <h6><p class="font-weight-bold">OPCAO</p></h6>
                        </a>
                        <div id="mostrar" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                          </div>
                    </li>

                    <li id="op2" class=" list-inline-item nav-item dropdown">
                        
                        <a class="dropdown text-decoration-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" >
                            <h6><p class="font-weight-bold">OPCAO</p></h6>
                        </a>
                        <div id="mostrar" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                          </div>
                    </li>
                    
                    <li id="op3" class="list-inline-item nav-item dropdown">
                        <a class="dropdown text-decoration-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" >
                            <h6><p class="font-weight-bold">OPCAO</p></h6>
                        </a>
                        <div id="mostrar" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                          </div>
                    </li> 

                    <li id="op4" class="list-inline-item nav-item dropdown">
                        <a class="dropdown text-decoration-none" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" >
                            <h6><p class="font-weight-bold">OPCAO</p></h6>
                        </a>
                        <div id="mostrar" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                            <a class="dropdown-item" href="#">#######</a>
                          </div>
                    </li> 

                </ul>
            </div>
            <div>
                <a href="testeCarousel.html">Carousel</a>
            </div>

            <div class="login">
                <a class="text-decoration-none" href="/mostrarperfilusuario" >{{usuario}}</a>
                <br>
                <a class="text-decoration-none" href="/logout" >LOGOUT</a>
            </div>
        </nav>
            
        <div class="container">
            {% block content %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>