<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/sbt.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="/" class="logo">
                <img src="../static/Imagens/logo.png" alt="">
                <span class="nav-item">Info</span>
            </a>
            </li>
            <li><a href="">
                <i class="fas fa-home"></i>
                <span class="nav-item">Home</span>
            </a></li>
            <li><a href="">
                <i class="fas fa-user"></i>
                <span class="nav-item">Profile</span>
            </a></li>
            <li><a href="">
                <i class="fas fa-id-card"></i>
                <span class="nav-item">Wallet</span>
            </a></li>
            <li><a href="">
                <i class="fas fa-user" style="color: red;"></i>
                <span class="nav-item">Dashboard</span>
            </a></li>
            <li><a href="">
                <i class="fas fa-tasks"></i>
                <span class="nav-item">Task</span>
            </a></li>
            <li><a href="">
                <i class="fas fa-cog"></i>
                <span class="nav-item">Settings</span>
            </a></li>
            <li><a href="" class="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Log out</span>
            </a></li>
        </ul>
    </nav>


</body>
</html>