<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nome}}</title>
</head>
<body>

    <div class="actionData">
        <h1>longName</h1>
        <h2>{{nome}}</h2>
        <p>website</p>
        <p>codigo da acao</p>
        <p>Valor: {{valor}}</p>
        <p>Setor: {{sector}}</p>
        <p>{{country}}</p>
        <p>Sobre {{longBusinessSummary}}</p>
    </div>
    <br>
    {{plot|safe}}
    <br>
    
</body>
</html>